.loader {
  /* border: 8px solid #f3f3f3; /* Light grey */
  /* border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  /* width: 60px; */
  /* height: 60px; */
  animation: spin 2s linear infinite;
  margin: auto;
  position: relative;
  /* top: 30vh; */
}

.loader-normal {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  width: 60px;
  height: 60px;
}

.loader-small {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  width: 20px;
  height: 20px;
}